<!doctype html>
<title>Flask error</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<div class="page-header"><h1> Last Errors<small> {{ app }} </small></h1></div>

<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>time</th>
        <th>type</th>
        <th>value</th>
        <th>handlers called</th>
    </tr>
    {% for error in errors %}
    <tr onclick="document.location = '/errors_ui/error/{{ error.id }}';">
        <td>{{ error.id }}</td>
        <td>{{ error.timestamp }}</td>
        <td>{{ error.type }}</td>
        <td>{{ error.value }}</td>
        <td>
            {% for handler in error.handlers %}
            <font color="{% if loop.last %}green{% else %}red{% endif %}">
            {{ handler }}
            </font>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
